footer.section-footer.border-top
    .container.py-4
        .d-lg-flex.justify-content-between.footer-top-section.mb-4.py-4
            div
                img.me-3.mt-3(src="img/logo-kemenko.png" alt="Kemenko" height="32")
                img.me-3.mt-3(src="img/logo-prakerja-colored.svg" alt="Prakerja" height="32")
            .mt-3.mt-lg-0
                h6 Follow Us
                .social-media
                    a(href='https://www.youtube.com/channel/UCXU-nRpRs5Hk9bF3r28rSDA' target='_blank')
                        i.bi.bi-youtube
                    a(href='https://www.instagram.com/prakerja.go.id/' target='_blank')
                        i.bi.bi-instagram
                    a(href='https://www.facebook.com/prakerja.go.id/' target='_blank')
                        i.bi.bi-facebook
                    a(href='https://www.linkedin.com/company/kartu-prakerja/' target='_blank')
                        i.bi.bi-linkedin
        .d-lg-flex.justify-content-center.align-items-center.text-center
            
            .copyrights.mt-3.mt-lg-0
                span &copy; 2024 Prakerja. All Rights Reserved.
    a.scroll-top
        i.bi.bi-chevron-up
