header.pdt-header
  .container-lg.px-3.px-md-0
    .d-flex.justify-content-xl-between.flex-row.flex-lg-column.flex-xl-row.align-items-center
      a.logo.ms-0.ms-sm-3.ms-lg-0(href='index.html')
      ul.d-flex.align-items-center.navbar-custom
        li.nav-item.md-hide
          a.nav-link(href='#programme') Programme
        li.nav-item.md-hide
          a.nav-link(href='#agenda') Agenda
        li.nav-item.md-hide
          a.nav-link(href='#organizingpartners') Organizing Partners
        li.nav-item.md-hide
          a.nav-link(href='#venueparticipations') Venue
        li.nav-item.md-hide
          a.nav-link(href='#publications') Publications
        li.nav-item.md-hide
          a.btn.btn-orange(href='#register')
            //- i.bi.bi-play-circle-fill
            |  Register Now
        li.nav-item.md-show
          .menu.burger-menu(data-menu='13')
            .icon