section#publications.adjust-anchor
  div
    .container.py-5
      .row
        div
          h3.h2.mb-4 Publications
      .row
        ul.list-custom.col-lg-6.pe-lg-2
          li
            a(href='https://sdgs.un.org/partnerships/program-kartu-prakerja' target='_blank')
              | SDG Acceleration
              | Actions - Program Kartu Prakerja 
              i.bi.bi-arrow-up-right-square
          li
            a(href='https://www.youtube.com/watch?v=KDJ5fMxIVFc' target='_blank')
              | Her Majesty Queen M&aacute;xima of the Netherlands: Kartu Prakerja
              | Promotes Financial Inclusion | B20 Summit Indonesia 2022 
              i.bi.bi-arrow-up-right-square
          li
            a(href='https://www.youtube.com/watch?v=uP4KBZ1T0xA' target='_blank')
              | Final Statement of The Bali
              | Conference 
              i.bi.bi-arrow-up-right-square
          li
            a(href='https://www.prakerja.go.id/artikel/the-kartu-prakerja-program-attracts-global-recognition-partners-with-unesco-institute-for-lifelong-learning-uil' target='_blank')
              | The Kartu Prakerja Program Attracts Global Recognition, Partners with UNESCO Institute
              | for Lifelong Learning (UIL) 
              i.bi.bi-arrow-up-right-square
          li
            a(href='https://public-prakerja.oss-ap-southeast-5.aliyuncs.com/www/ebook-reporting/T20PolicyBriefDrivingInclusionandResilience_KartuPrakerja.pdf' target='_blank')
              | T20 Policy Brief 2022: Promoting Inclusivity and Resilience through Multi-Channel
              | Social Assistance Distribution: Lessons from Kartu Prakerja in Indonesia 
              i.bi.bi-arrow-up-right-square
        ul.list-custom.col-lg-6.ps-lg-2
          li
            a(href='https://www.prakerja.go.id/artikel/creating-upskilling-opportunities-for-144-million-indonesians' target='_blank')
              | Creating Upskilling Opportunities for 144 Million Indonesians 
              i.bi.bi-arrow-up-right-square
          li
            a(href='https://t20ind.org/research/scaling-up-womens-empowerment-during-the-pandemic-and-beyond/' target='_blank')
              | Scaling Up Women&rsquo;s Empowerment During the Pandemic and Beyond: Lessons from
              | Indonesia&rsquo;s &lsquo;Kartu Prakerja&rsquo; Programme 
              i.bi.bi-arrow-up-right-square
          li
            a(href='https://t20ind.org/research/leveraging-digital-public-infrastructure/' target='_blank')
              | Leveraging Digital Public Infrastructure to Deliver Nationwide Conditional Cash
              | Transfers for Training Provision 
              i.bi.bi-arrow-up-right-square
          li
            a(href='https://www.orfonline.org/wp-content/uploads/2023/07/T20_PolicyBrief_TF6_SDGsThroughDigitalTransformation_New.pdf' target='_blank')
              | Ensuring Progress on SDGs Through Digital Transformation and Financial Inclusion 
              i.bi.bi-arrow-up-right-square
