section#register.adjust-anchor
  .bg-odd
    .container.py-5
      .row
        div
          h3.h2.mb-4 Event Registration
      .row
        div.col-md-12.col-lg-12#eventbrite-widget-container-929576246577
