section#agenda.py-5.adjust-anchor
  .bg-odd.py-5
    .container
      .row.justify-content-center
        .col-md-10.list-agenda
          // start keynote speaker
          div
            h3.h2.mb-4 Agenda
            hr
            //- .list-agenda-item.d-flex.align-items-center.p-3.gap-3.justify-content-between
                .d-flex.align-items-center.gap-3
                    .avatar.avatar-icon
                        img(src='img/clipboard-check.svg' alt='Participants Registration')
                    div
                        p Participants Registration
                        //- p
                        //-     | Director General for Multilateral Cooperation, Ministry of Foreign Affairs, Indonesia
                div.col-3.text-end
                    p 12.00 - 13.30 
            
            .list-agenda-item.d-flex.align-items-center.p-3.gap-3.justify-content-between
                .d-lg-flex.align-items-center.gap-3
                    .avatar.align-self-start
                        img(src='img/img-boediono.webp' alt='Prof. Boediono')
                    div
                        span.badge.text-bg-primary.mb-2 Opening Remark
                        h6.mb-0 Prof. Boediono
                        p
                            | Vice President of The Republic of Indonesia 2009-2014
                        p.fs-7
                            | Prof. H. Boediono, B.Sc., M.Ec., Ph.D., served as the 11th Vice President of Indonesia from October 20, 2009, to October 20, 2014. He was elected in the 2009 presidential election alongside the incumbent president, Susilo Bambang Yudhoyono. Prior to his vice presidency, he held several significant positions, including Governor of Bank Indonesia, Coordinating Minister for Economic Affairs, Minister of Finance, Minister of National Development Planning/Head of Bappenas, and Director of Bank Indonesia (now equivalent to Deputy Governor). He currently serves as a professor at the Faculty of Economics, Universitas Gadjah Mada. Those who frequently interact with him often refer to him as "The man to get the job done."

            //- .list-agenda-item.d-flex.align-items-center.p-3.gap-3.justify-content-between
            //-     .d-lg-flex.align-items-center.gap-3
            //-         .avatar.align-self-start
            //-             img(src='img/sri-mulyani.png' alt='Ibu Sri Mulyani')
            //-         div
            //-             span.badge.text-bg-primary.mb-2 Keynote Speech
            //-             h6.mb-0 Sri Mulyani Indrawati
            //-             p
            //-                 | Minister of Finance, Republic of Indonesia
            //-             p.fs-7 Ms Sri Mulyani Indrawati began her career as part of the executive board of the International Monetary Fund (IMF), where she represented 12 countries in South-East Asia (SEA Group). First in 2005, then again in 2016 and 2019, she was appointed Minister of Finance of the Republic of Indonesia, a post she currently holds and where she has been credited with stabilizing the country’s macroeconomy, maintaining fiscal policy and developing trust with investors. Throughout her career, Sri Mulyani Indrawati has earned many accolades, including Finance Minister of the Year in 2006, Globe Asia’s second most-influential woman in Indonesia 2007, one of Forbes’s most influential women in 2008, and the Best Minister Award 2018 at the World Governments Summit. She earned her master’s and doctorate degrees in economics from the University of Illinois Urbana-Champaign. On July 27, 2016 President Joko Widodo inaugurated Sri Mulyani Indrawati as the Minister of Finance in his working cabinet. 
                
            .list-agenda-item.d-flex.align-items-center.p-3.gap-3.justify-content-between
                .d-lg-flex.align-items-center.gap-3
                    .avatar.align-self-start
                        img(src='img/jeffrey_sachs.png' alt='Prof. Jeffrey Sachs')
                    div
                        span.badge.text-bg-primary.mb-2 Public Seminar
                        h5
                            i “Building sustainable future through lifelong learning and skill development”
                        h6.mb-0 Prof. Jeffrey Sachs
                        p.fs-7 
                            a(href='https://www.jeffsachs.org/' target="_blank") Jeffrey D. Sachs 
                        p.fs-7 is University Professor and Director of the Center for Sustainable Development at Columbia University, where he directed the Earth Institute from 2002 until 2016. He is the President of the UN Sustainable Development Solutions Network, Co-Chair of the Council of Engineers for the Energy Transition, Commissioner of the UN Broadband Commission for Development, academician of the Pontifical Academy of Social Sciences at the Vatican, and Tan Sri Jeffrey Cheah Honorary Distinguished Professor at Sunway University. He has been Special Advisor to three United Nations Secretaries-General, and currently serves as an SDG Advocate under Secretary General António Guterres. He spent over twenty years as a professor at Harvard University, where he received his B.A., M.A., and Ph.D. degrees. Sachs has received 42 honorary doctorates, and his recent awards include the 2022 Tang Prize in Sustainable Development and the Legion of Honor by decree of the President of the Republic of France.
                //- div.col-3.text-end
                    p 14.05 - 15.05
            .list-agenda-item.d-flex.align-items-center.p-3.gap-3.justify-content-between
                .d-lg-flex.align-items-center.gap-3
                    .avatar.avatar-icon
                        img(src='img/chat-square-quote.svg' alt='Q&A')
                    div
                        h6.mb-0 Questions & Answers

                //- div.col-3.text-end
                    p 15.05 - 15.55
            .list-agenda-item.d-flex.align-items-center.p-3.gap-3.justify-content-between
                .d-lg-flex.align-items-center.gap-3
                    .avatar.align-self-start
                        img(src='img/denni_puspa_purbasari.webp' alt='Denni Puspa Purbasari')
                    div
                        span.badge.text-bg-primary.mb-2 Closing Remark
                        h6.mb-0 Denni Puspa Purbasari
                        p
                            | Executive Director, Project Management Office of Kartu Prakerja, Government of the
                            | Republic of Indonesia
                        p.fs-7
                            | Denni Puspa Purbasari has been the Executive Director of the Project Management Office (PMO) of Kartu Prakerja Program at the Coordinating Ministry for Economic Affairs since March 2020. She is also a lecturer in the Department of Economics, Universitas Gadjah Mada. She earned her Ph.D. in Economics at the University of Colorado at Boulder in 2006. Before serving at PMO Kartu Prakerja Program, she was the Economic Deputy Chief of Staff for the President of the Republic of Indonesia from 2015-2020 and the Assistant to the Economic Advisor for the Vice President of the Republic of Indonesia from 2009-2014. She is the recipient of Satya Lencana Karya Satya X, the Fulbright Scholarship, the Stanford Calderwood Student Teaching Award, the James C. Campbell Thesis Research Award, the Beverly Sears Student Research Award, and the University of Colorado Fellowship
            

            .list-agenda-item.d-flex.align-items-center.p-3.gap-3.justify-content-between
                .d-lg-flex.align-items-center.gap-3
                    .avatar.align-self-start
                        img(src='img/tanto-wiyahya.png' alt='Tantowi Yahya')
                    div
                        span.badge.text-bg-primary.mb-2 Closing Remark
                        h6.mb-0 Bapak Tantowi Yahya
                        p
                            span President, United in Diversity Foundation
                        p.fs-7 Amb. Tantowi Yahya currently serves as the President of United in Diversity and the President Commissioner of Kura Kura Bali, which currently build a sustainable and world-class integrated tourism hub (Cultural, Technological, Hospitality, Medical, Leisure, Marine and Educational) that upholds the Harmony of Tri Hita Karana and the Beauty of the Bali Landscape. Previously he was an Ambassador of Indonesia to New Zealand, Samoa and Tonga, and appointed as Indonesian Roving Ambassador for the Asia Pacific. Besides being a businessman, he is an artist and lately also a politician where he previously served as member of parliament. He is also known as a TV presenter, Master of Ceremony, Music producer, country singer, and a social worker.

            .d-flex.align-items-center.p-3.gap-3.justify-content-between
                .d-lg-flex.align-items-center.gap-3
                    .avatar.align-self-start
                        img(src='img/arif-satria.webp' alt='Arif Satria')
                    div
                        span.badge.text-bg-secondary.mb-2 
                            i.bi.bi-mic.me-2
                            | Moderator
                        h6.mb-0 Prof. Arif Satria
                        p
                            span Rector IPB University
                        p.fs-7 Prof. Arif Satrio is the Rector of IPB University for the 2023-2028 term. He earned his bachelor's degree in agricultural socio-economics from IPB's Faculty of Agriculture. Two years after graduation, he became a lecturer in the socio-economics of fisheries at IPB's Faculty of Fisheries in 1997. He completed his master's degree in Rural Sociology at IPB in 1999 and his Ph.D. in Marine Policy at Kagoshima University, Japan, in 2006. In 2017, He was elected Rector of IPB. Two years later, he was awarded the title of Permanent Professor of Political Ecology at IPB's FEMA. Outside IPB, he has served as an advisor to the Minister of Marine Affairs and Fisheries (2012-2019) and a member of the supervisory board of Perum Perikanan Indonesia (2013-2017). He also chaired the Indonesian Rectors Forum in 2020.

                //- div.col-3.text-end
                    p 15.55 - 16.00
            //- .list-agenda-item.d-flex.align-items-center.p-3.gap-3.justify-content-between
                .row
                  h5.align-items-start.h5 Join the Event
                  div.col-md-12.col-lg-12#eventbrite-widget-container-929576246577
                  //- div.align-items-end.align-right
                    button#eventbrite-widget-modal-trigger-929576246577.btn.btn-primary(type="button")
                      | Get Tickets Now

            
