section#agenda.py-5.adjust-anchor
  .bg-odd.py-5
    .container
      .row.justify-content-center
        .col-md-10.list-agenda
          // start keynote speaker
          div
            h3.h2.mb-4 Agenda
            hr
            .list-agenda-item.d-flex.align-items-center.p-3.gap-3.justify-content-between
                .d-flex.align-items-center.gap-3
                    .avatar.avatar-icon
                        img(src='img/clipboard-check.svg' alt='Participants Registration')
                    div
                        p Participants Registration
                        //- p
                        //-     | Director General for Multilateral Cooperation, Ministry of Foreign Affairs, Indonesia
                div.col-3.text-end
                    p 12.00 - 13.30 
            .list-agenda-item.d-flex.align-items-center.p-3.gap-3.justify-content-between
                .d-flex.align-items-center.gap-3
                    .avatar
                        img(src='img/denni_puspa_purbasari.webp' alt='Denni Puspa Purbasari')
                    div
                        span.badge.text-bg-primary.mb-2 Welcoming Remark
                        h6 Ibu Denni Puspa Purbasari
                        p.mb-0
                            | Executive Director, Project Management Office of Kartu Prakerja, Government of the
                            | Republic of Indonesia
                    div.col-3.text-end
                        p 13.35 - 13.40

            .list-agenda-item.d-flex.align-items-center.p-3.gap-3.justify-content-between
                .d-flex.align-items-center.gap-3
                    .avatar.avatar-icon
                        img(src='img/person-hearts.svg' alt='Testimony from Prakerja’s Alumni')
                    div
                        p.mb-0
                            | Testimony from Prakerja’s Alumni
                div.col-3.text-end
                        p 13.40 - 13.45

            .list-agenda-item.d-flex.align-items-center.p-3.gap-3.justify-content-between
                .d-flex.align-items-center.gap-3
                    .avatar
                        img(src='img/sri-mulyani.png' alt='Ibu Sri Mulyani')
                    div
                        span.badge.text-bg-primary.mb-2 Keynote Speech
                        h6 Ibu Sri Mulyani
                        p.mb-0
                            | Minister of Finance, Republic of Indonesia (tbc)
                div.col-3.text-end
                    p 13.45 - 14.05
            .list-agenda-item.d-flex.align-items-center.p-3.gap-3.justify-content-between
                .d-flex.align-items-center.gap-3
                    .avatar
                        img(src='img/jeffrey_sachs.png' alt='Prof. Jeffrey Sachs')
                    div
                        span.badge.text-bg-primary.mb-2 Public Seminar
                        h5
                            i “Skills Development and Lifelong Learning for Decent Jobs”
                        h6 Prof. Jeffrey Sachs
                        p.mb-0
                            | President of the Sustainable Development Solutions Network (SDSN) 
                div.col-3.text-end
                    p 14.05 - 15.05
            .list-agenda-item.d-flex.align-items-center.p-3.gap-3.justify-content-between
                .d-flex.align-items-center.gap-3
                    .avatar.avatar-icon
                        img(src='img/chat-square-quote.svg' alt='Q&A')
                    div
                        h6 Q&A

                div.col-3.text-end
                    p 15.05 - 15.55
            .list-agenda-item.d-flex.align-items-center.p-3.gap-3.justify-content-between
                .d-flex.align-items-center.gap-3
                    .avatar
                        img(src='img/tanto-wiyahya.png' alt='Tantowi Yahya')
                    div
                        span.badge.text-bg-primary.mb-2 Closing Remark
                        h6 Bapak Tantowi Yahya
                        p.mb-0
                            | President, United in Diversity Foundation
                div.col-3.text-end
                    p 15.55 - 16.00
            .list-agenda-item.d-flex.align-items-center.p-3.gap-3.justify-content-between
                .d-flex.align-items-center.gap-3
                  h5.align-items-start.h5 Join the Event
                  div.align-items-end.align-right
                    button#eventbrite-widget-modal-trigger-929576246577.btn.btn-primary(type="button")
                      | Get Tickets Now

            
