section#programme.py-5.adjust-anchor
  .container.py-5
    .row
      .col-lg-6
        div
          h3.h2.mb-4 Programme
          p.paragraph-regular
            | The side event focuses on global sustainable development through social
            | protection and jobs, education transformation, digitalization, and public sector capabilities.
            | It highlights global skilling practices that alleviate youth unemployment and enhance social protection.
            | The event aims to enhance human resources for SDGs like SDG 4 and 8, strengthening sustainable
            | development amidst economic shifts.
            | It discusses multi-stakeholder efforts, led by governments, to close skills gaps, promote inclusivity,
            | and ensure a diverse and adaptable workforce.
          p.paragraph-regular
            | By showcasing best practices and fostering dialogue, the event urges
            | governments and businesses to invest in skilling, upskilling, and reskilling. With participation from
            | policymakers, UN,
            | private sector, academics, and CSOs, it targets resilient economies, sustainable workforce, and scaled
            | initiatives aligned with national priorities and global collaboration.
      .col-lg-6.p-3
        img.w-100(src='img/sustainabledevgoals.jpeg' alt='sustainable development goals')
