
    
section.section-hero.d-flex.align-items-center
    .video-wrapper.content__title
      // Video placeholder is declared at css in class .video-wrapper
      #revVideo.content__title__inner.masking-pattern
        video.hero-video(autoplay='' muted='' loop='')
          source(src=baseURL+'video/video-bg-lifelonglearning.mp4' type='video/mp4')

    .container.py-md-5.pt-5.px-4.px-md-0
      .row.justify-content-start
        .col-lg-6
            .d-flex.justify-content-center
              div
                h1.hidden Database Publik
                .display-1.text-light.content__title.mb-3
                  span#rev-1.content__title__inner.text-gradient-hero Database
                  br
                  span#rev-2.content__title__inner.hero-text-shadow Publik 
                h3.text-light Program Prakerja 2020-2022
                p.text-light Lorem ipsum PPE self care staycation. Remote doomscroll frontline workers unprecedented shortage walktail we can't hear you.. Hybrid storm Area 51 Tiger King spread. Hurricane Greek alphabet election Quibi K-shaped recovery.
                button.btn.btn-orange.btn--reveal-modal-open
                  i.bi.bi-play-circle-fill.me-2
                  | Putar Video

                //- h2.content__title.content__title--center
                //-   #rev-1.content__title__inner Self-imposed
                //-   br
                //-   #rev-2.content__title__inner.content__title__inner--offset-1 limitations
