section#venueparticipations.adjust-anchor
  .bg-odd
    .container.py-5
      .row
        div
          h3.h2.mb-4 Venue &amp; Participation
      .row
        .col-lg-4
          p.paragraph-regular
            b The Ballroom at Djakarta Theater
            span No. 9 Jalan M.H. Thamrin #2 Kec. Menteng, Daerah Khusus Ibukota Jakarta 10230

          p.paragraph-regular
            span 
              b Saturday, June 29th, 2024 
            br
            span 01.30 - 04.00 P.M. (GMT+7)

        .col-lg-8.bg-default
          iframe.border(src='https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2799.1348377426384!2d106.82531260320492!3d-6.187594120243452!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x2e69f42f5592786f%3A0xccd9450b62b24e3e!2sDjakarta%20XXI!5e0!3m2!1sen!2sid!4v1718969071818!5m2!1sen!2sid' width='100%' height='450' style='border:0;' allowfullscreen='' loading='lazy' referrerpolicy='no-referrer-when-downgrade')
