section#programme.py-5.adjust-anchor
  .container.py-5
    .row
      .col-lg-6
        div
          h3.h2.mb-4 Programme
          p.paragraph-regular
            | Despite significant progress in various sectors, the current trajectory indicates that achieving the Sustainable Development Goals (SDGs) by 2030 remains a challenge, hindered by factors such as the lingering impact of the COVID-19 pandemic, geopolitical tensions, regional issues, and the escalating climate crisis. To bridge this gap, a more comprehensive and unconventional financial plan is essential, leveraging innovative financial instruments, enhancing public-private partnerships, and ensuring equitable resource distribution. Additionally, investing in the labor market and human capital, fostering education and skills development, and advancing technology and digital infrastructure are critical. Professor Sachs' participation in the Prakerja and Unity in Diversity (UID) event will provide a critical perspective on these transformative actions, highlighting pathways to achieving the SDGs through strategic investments and collaborative efforts.
      .col-lg-6.p-3
        img.w-100(src='img/sustainabledevgoals.jpeg' alt='sustainable development goals')
