section#programme.py-5.adjust-anchor
  .container.py-5
    .row
      .col-lg-6
        div
          h3.h2.mb-4 Programme
          p The world is facing a critical stage in achieving the Sustainable Development Goals (SDGs) by 2030. Despite progress, a recent report reveals only 16% of SDG targets are on track, with many facing setbacks. Factors like climate change, economic struggles, and the pandemic have hindered progress. This public seminar, co-hosted by Prakerja and United in Diversity Foundation, aims to address this challenge. We recognize the importance of investing in people and skills development for a sustainable future.
          p 
            b Why is this event important?
          ul 
            li Skills Gap and Decent Jobs: The event explores innovative solutions to bridge the skills gap and equip individuals with the tools they need for decent work.
            li Lifelong Learning: In today's rapidly evolving world, lifelong learning is crucial. The seminar will highlight approaches to encourage continuous skills development throughout one's career.
            li Building a Sustainable Future: By focusing on education, training, and entrepreneurship, we can create a skilled workforce that drives economic growth and contributes to a more sustainable future, aligned with SDGs 4, 8, and 17.
      .col-lg-6.p-3
        img.w-100(src='img/sustainabledevgoals.jpeg' alt='sustainable development goals')
      .col-lg-12
        p 
          b The Case of Indonesia:
        p Indonesia, like many countries, faces its own workforce challenges. Prior to the pandemic, a high Youth NEET rate (Not in Education, Employment, or Training) and low training participation presented obstacles to economic growth. The COVID-19 crisis further worsened these issues, particularly for vulnerable populations.
        p Indonesia's Prakerja program, a key co-host of this event, emerged as a successful response. It provided scholarships, flexible training schedules, and leveraged e-commerce platforms, effectively addressing financial and informational barriers. By equipping individuals with hard and soft skills, as well as fostering entrepreneurship, Prakerja directly supports SDGs 4 (Quality Education), 8 (Decent Work and Economic Growth), and 17 (Partnerships for the Goals).
        p Join us on Saturday, June 29th, 2024 from 1:30 PM to 4:00 PM WIB (Western Indonesia Time) as we explore these critical issues with Professor Jeffrey Sachs, a world-renowned economist and the Director of the UN Sustainable Development Solutions Network (SDSN). Professor Sachs' expertise will provide valuable insights on how strategic investments in skills development and collaborative efforts can accelerate progress towards achieving the SDGs.
