section#organizingpartners.adjust-anchor
  .container.py-5
    .row
      div
        h3.h2.mb-4 Organizing Partners
        p
          | The side event is hosted by the 
          b Project Management Office of Prakerja - Republic of Indonesia
          | , in
          |               collaboration with:
    .row
      .col-md-4
        .card-partner
          .img-partner.mb-4
            img(src='img/national_emblem_of_the_lao_people_s_democratic_republic.webp' alt='Goverment of Lao PDR')
          h6 Goverment of Lao PDR
          p
            a(href='http://www.moes.edu.la/')
              | http://www.moes.edu.la/ 
              i.bi.bi-arrow-up-right-square-fill
      .col-md-4
        .card-partner
          .img-partner.mb-4
            img(src='img/logo_filipina.webp' alt='Government of the Philippines')
          h6 Government of the Philippines
          p
            a(href='https://www.officialgazette.gov.ph/')
              | https://www.officialgazette.gov.ph/
              i.bi.bi-arrow-up-right-square-fill
    .row
      .col-md-4
        .card-partner
          .img-partner.mb-4
            img(src='img/combined_unesco_uil_blue_eng.webp' alt='UNESCO Institute for Lifelong Learning')
          h6 UNESCO Institute for Lifelong Learning
          p
            a(href='https://www.uil.unesco.org/en')
              | https://www.uil.unesco.org/en 
              i.bi.bi-arrow-up-right-square-fill
      .col-md-4
        .card-partner
          .img-partner.mb-4
            img(src='img/ICAE_V2.webp' alt='International Council for Adult Education (ICAE)')
          h6 International Council for Adult Education (ICAE)
          p
            a(href='http://icae.global')
              | http://icae.global 
              i.bi.bi-arrow-up-right-square-fill
      .col-md-4
        .card-partner
          .img-partner.mb-4
            img(src='img/aspbae_logo.webp' alt='Asia South Pacific Association For Basic And Education (ASPBAE)')
          h6 Asia South Pacific Association For Basic And Education (ASPBAE)
          p
            a(href='https://www.aspbae.org/')
              | https://www.aspbae.org/ 
              i.bi.bi-arrow-up-right-square-fill
