section#agenda.py-5.adjust-anchor
  .bg-odd.py-5
    .container
      .row.justify-content-center
        .col-md-7.list-agenda
          // start keynote speaker
          div
            h3.h2.mb-4 Agenda
            hr
            h6 Welcoming Remark by:
            .list-agenda-item.d-flex.align-items-center.p-3
              .avatar.me-4
                img(src='img/tri_tharyat.webp' alt='Tri Tharyat')
              div
                h6 Ambassador Tri Tharyat
                p
                  | Director General for Multilateral Cooperation, Ministry of Foreign Affairs, Indonesia
          // end keynote speaker
          // start remarks by
          .mt-4
            h6 Remarks by
            .list-agenda-item.d-flex.align-items-center.p-3
              .avatar.me-4
                img(src='img/phout_simmalavong.webp' alt='Phout Simmalavong')
              div
                h6 Phout Simmalavong
                p.mb-0 Minister of Education and Sports of Lao PDR
            .list-agenda-item.d-flex.align-items-center.p-3
              .avatar.me-4
                img(src='img/maria_prieto_teodoro.webp' alt='Monica Prieto Teodoro')
              div
                h6 Monica Prieto Teodoro
                p.mb-0 Philippines Special Envoy of Children and Youth
            .list-agenda-item.d-flex.align-items-center.p-3.mb-4
              .avatar.me-4
                img(src='img/stefania_giannini.webp' alt='Stefania Giannini')
              div
                h6 Stefania Giannini
                p.mb-0 UNESCO Assistant Director-General for Education
          // end remarks by
          // start panelist
          .mt-4
            h6 Panel Discussion
            .list-agenda-item.d-flex.align-items-center.p-3
              .avatar.me-4
                img(src='img/denni_puspa_purbasari.webp' alt='Denni Puspa Purbasari')
              div
                h6 Denni Puspa Purbasari
                p.mb-0
                  | Executive Director, Project Management Office of Kartu Prakerja, Government of the
                  | Republic of Indonesia
            .list-agenda-item.d-flex.align-items-center.p-3
              .avatar.me-4
                img(src='img/borhene_chakroun.webp' alt='Borhene Chakroun')
              div
                h6 Borhene Chakroun
                p.mb-0 Director a.i., UNESCO Institute for Lifelong Learning
            .list-agenda-item.d-flex.align-items-center.p-3
              .avatar.me-4
                img(src='img/yenny_wahid.webp' alt='Yenny Wahid')
              div
                h6 Yenny Wahid
                p.mb-0
                  | Director, The Wahid Foundation 
                  br
                  | Commissioner at Bukalapak
            .list-agenda-item.d-flex.align-items-center.p-3
              .avatar.me-4
                img(src='img/roberto_guevara.webp' alt='Jose Roberto Guevara')
              div
                h6 Jose Roberto Guevara
                p.mb-0
                  | President, International Council for Adult Education (ICAE) A/Professor, RMIT University
            .list-agenda-item.d-flex.align-items-center.p-3
              .avatar.me-4
                img(src='img/rene_raya.webp' alt='Rene Raya')
              div
                h6 Rene Raya
                p.mb-0
                  | Regional Advocacy Coordinator and Lead Policy Analyst, Asia South Pacific Association For Basic And Education (ASPBAE)
            .list-agenda-item.d-flex.align-items-center.p-3
              .avatar.me-4
                img(src='img/kate_behncken.webp' alt='Kate Behncken')
              div
                h6 Kate Behncken
                p.mb-0 Corporate Vice President, Microsoft Philanthropies
          // end panelist
          // start moderator
          .mt-4
            h6 Moderator : 
            .list-agenda-item.d-flex.align-items-center.p-3
              .avatar.me-4
                img(src='img/vivi_alatas.webp' alt='Vivi Alatas')
              div
                h6 Vivi Alatas
                p.mb-0 Senior Economist, Indonesia
          // end moderator
